#caloric-calculation {
    margin-top: 100px;
}
nav {
    opacity: .5;
    height: 70px;
}
nav ul {
    margin-top: 1.65%;
}
nav ul li {
    color: #49743d;
    font-size: 20px;
    font-weight: bold;
}
body {
    background: url(../img/2.1.jpg) no-repeat center center fixed;
    background-size: cover;  
}
select {
    height: 30px;
    border-radius: 10px;
    border: none;
}
input[type='text'] {
    text-align: center;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 10px;
}
input[type='button'] {
    margin-top: 20px;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 10px;
}
h2 {
    color: #e3ffdc;
    font-size: 30px;
}
p {
    color: #e3ffdc;
    font-size: 16px;
}
